<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="https://www.freeiconspng.com/thumbs/book-icon/book-icon-black-good-galleries--24.jpg" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2"> <i class='fas fa-book-open'></i> Spencer's Online Booksore</span>
    </div>
    <div class="row m-1 p-1">
        <div id="blah" class="col-2">
            <h4 class="font-italic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Welcome to Spencer's online bookstore! Please browse through the available books.</h4>
            <vc:navigation-menu />
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>

    

</body>
</html>
