@{
    ViewData["Title"] = "Spencer Wright - Assignment 7";
}

@model ProjectListViewModel

<!--
    Spencer Wright, Group 3-1
    Assignment 7
    Description: Add category filters to the assignment that was created for assignment 6
-->

@foreach (var x in Model.Projects)
{
    <partial name="ProjectSummary" model="x" />
}


<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1" data-toggle="tooltip" data-placement="top" title="Click for a different page">
</div>
