@model IEnumerable<string>

<!--
    The rubric says to highlight the selected category, not to specifically highlight "Home" when none are selected
    Home (this <a> tag) does not highlight since the rubric does not specify to do so
-->
<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
{
    <!--The razor code below in the class will highlight whatever category is selected-->
    <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}